body {
	font-family: 'Pacifico', cursive;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-bottom: 35px;
	background-image: url("cottoncandy.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}


.caption {
	font-family: 'Pacifico', cursive;
	font-size: 86px;
	margin-top: 100px;
	z-index: 2;
	text-align: center;
}

.caption span.border {
	background-color: transparent;
}

#hit-btn {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	color: #fff;
	background-color: #F8C5E2;
	border-radius: 20px;
	margin-top: 80px;
	z-index: 2;
}
